body {
  margin: 0;
  font-family: Boon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Boon';
  src: local('Boon'), url(/src/assets/fonts/boon/font/ttf/Boon-Regular.ttf) format('truetype');
}